 img{
  width:50px;
  height:40px;
}
#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav-bar ul li{
 margin:12px;
 padding: 5px;
 list-style: none;
}
#nav-bar ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #030344;
  font-weight: 500;
 }
 #header{
  height:50px;
background-color: #a0b5ae;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  margin-top: 0;
  width: 100%;
 }
 #header-img h3 {
  font-size: 30px;
  margin: 10px 10px;
   }
  
 #header-img {
display: flex;
justify-content: center;

align-items: center;
 }
#AboutUs{
  display: flex;
  justify-content: space-evenly;
  padding-top:150px;
}
.AboutLeft{
  width:50vw;
  padding:10px;
}
.AboutLeft h3{
  font-size: 30px;
  color: rgb(75, 18, 49);
}
.AboutLeft {
  font-size: 20px;
  color: rgb(22, 8, 16);
}
.AboutLeft .btn{
padding: 5px;
background-color: #4b1231;
color: #b3a3a3;
border-radius: 10px;
}
#Best-Features h3{
  font-size: 30px;
  color: rgb(75, 18, 49);

}
#Best-Features p{
  font-size: 20px;
  color: rgb(75, 18, 49);
 

}
.Feature_section{
  display: flex;
  width:100%;
  margin-top: 10px;
  height:220px;

  
}
#Best-Features{
  margin:auto;
  width:80vw;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
div.sub_section{
 padding:30px;
}
.fa{
  color: #4b1231;
}
.team_pictures img{
  width:800px;
  height:300px;
}
#Team_Members{
  margin:auto;
  width:80vw;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
#Team_Members h3{
  font-size: 30px;
  color: rgb(75, 18, 49);

}
#Team_Members p{
  font-size: 20px;
  color: rgb(75, 18, 49);
  margin: auto;
  text-align: center;
  width: 80%;

}
#Contact_us {
  border: 3px solid #f1f1f1;
  width:50%;
  margin: auto;


}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color:rgb(75, 18, 49);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color:rgb(75, 18, 49);
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}